* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #393646;
}

nav {
  background-color: #15161c;
  height: 90px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-align: center;
  align-content: center;
  padding: 0;
  border-radius: 7px;
  color: #fdfffc;
  text-decoration: none;
}

.partidas {
  background-color: #01101d;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  font-size: 22px;
}

.bnt-menu_1 {
  background-color: #01101d;
  height: 50px;
  width: 107px;
  font-size: 22px;
  position: fixed;
  left: 5%;
}

.bnt-menu_2 {
  background-color: #01101d;
  height: 50px;
  width: 107px;
  font-size: 22px;
  position: fixed;
  right: 5%;
}
