#main {
  width: 100%;
  padding: 10px;
}

.game {
  border: solid 1px black;
  width: auto;
  height: inherit;
  padding: 3px 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  background: rgba(122, 28, 172, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid #bf2ef0;
}

.game:last-child {
  margin-bottom: 75px;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 7px;
  padding: 2px;
  border-bottom: solid 1px #bf2ef0;
}

.header img {
  margin: 0 5px 0 0;
  border-radius: 13.7px;
  background-color: #bf2ef0;
  background-clip: text;
  color: transparent;
  
}

.header p {
  width: auto;
  margin: 0 0 0 5px;
  font-size: 20px;
  color: white;
}

.header button {
  position: absolute;
  width: 50px;
  height: 20px;
  right: 5px;
}

.conteudo {
  display: flex;
  flex-direction: row;
}

.score {
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score div {
  display: flex;
  flex-direction: row;
}

.teams {
  height: auto;
  max-height: 137px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
}

.teams h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.teams span {
  width: 50px;
  height: 30px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.disable {
  display: none;
}

.date {
  width: 25%;
  display: flex;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}
