<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bilhetes</title>
    <link rel="stylesheet" href="/css/testes.css" type="text/css" />
    <link rel="stylesheet" href="/css/testeb.css" type="text/css" />
  </head>
  <body>
    <nav class="nav-pag">
      <a class="bnt-menu_1" href="/">Partidas</a>
      <a class="bnt-menu_2" href="/historico">Histórico</a>
    </nav>
    
    <nav class="nav-odds">
      <div class="forma">
        <div class="options">
          <label>
            <input type="radio" name="option" id="split" value="split" />
            Dividir
          </label>
          <label>
            <input type="radio" name="option" id="each" value="each" />
            Individual
          </label>
        </div>

        <label for="money" class="valor">
          Valor da Aposta:
          <input
            type="number"
            name="money"
            id="money"
            placeholder="R$"
            value=""
          />
          <button id="calcularBtn">Calcular</button>
        </label>
      </div>
    </nav>

    <div id="main"></div>
    <div id="infos-lucro" class="infos-lucro"></div>

    <script type="module" src="/scripts/bilhete.js"></script>
  </body>
</html>
