<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bilhetes</title>
    <link rel="stylesheet" href="/css/testeb.css" type="text/css" />
    <link rel="stylesheet" href="/css/bilhete.css" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="options">
          <label>
            <input type="radio" name="opcao" value="0" /> Individual
          </label>
          <label>
            <input type="radio" name="opcao" value="1" /> Dividido
          </label>
        </div>

        <div class="aposta">
          <label for="money" class="valor"> Valor da Aposta: </label>
          <input
            type="number"
            name="money"
            id="money"
            placeholder="R$"
            value=""
          />
          <button id="calcularBtn">Calcular</button>
        </div>
      </nav>
    </header>

    <section id="main"></section>
    <section id="infos-lucro"></section>
    
    <footer class="nav-pag">
      <a class="bnt-menu_1" href="/">Partidas</a>
      <a class="bnt-menu_2" href="/historico">Histórico</a>
    </footer>

    <script type="module" src="/scripts/bilhete.js"></script>
  </body>
</html>
