<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partidas</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a class="bnt-menu_1" href="/bilhete">Bilhete</a>
      <a class="partidas" href="/partidas">Partidas</a>
      <a class="bnt-menu_2" href="/historico">Histórico</a>
    </nav>

    <div id="main">
      <!-- <div class="game">
        <div class="header">
          <img src="" alt="" width="25px" />
          <p>${infos.nomeLiga}</p>
          <button class="add">Add</button>
        </div>
        <div class="conteudo">
          <div class="teams team-home">
            <img src="" width="70px" />
            <h3>${infos.nomeHome}</h3>
            <span class="team-home_odd">${oddHomeDisplay}</span>
          </div>

          <div class="score">
            <div class="placar">
              <h1>${infos.placarHome}</h1>
              <h2>x</h2>
              <h1>${infos.placarAway}</h1>
            </div>
            <div class="date">
              <p>${statusTime}</p>
              <br />
              <p>Second Half</p>
            </div>
          </div>

          <div class="teams team-away">
            <img src="" width="70px" />
            <h3>${infos.nomeAway}</h3>
            <span class="team-away_odd">${oddAwayDisplay}</span>
          </div>
        </div>
      </div> -->
    </div>
    <script type="module" src="/scrpits/testes.js"></script>
    <!-- <script src="testes.js"></script> -->
  </body>
</html>
