#main {
  width: 100%;
  padding: 10px;
}

.game {
  width: auto;
  height: inherit;
  padding: 3px 10px;
  margin-bottom: 5px;
  background: rgba(122, 28, 172, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid #bf2ef0;
}

.game:last-child {
  margin-bottom: 75px;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 7px;
  padding: 2px;
  border-bottom: solid 1px #bf2ef0;
}

.header img {
  margin-right: 5px;
  border-radius: 13.7px;
  background-color: #bf2ef0;
}

.header p {
  margin-left: 5px;
  font-size: 15px;
  color: white;
}

.header button {
  position: absolute;
  width: auto;
  height: 20px;
  right: 5px;
}

.conteudo {
  display: flex;
  flex-direction: row;
}

.score {
  width: 25%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.conteudo h3 {
  font-size: 14px;
}

.score div {
  position: absolute;
}

.placar {
  display: flex;
  top: 0;
}

.score .placar {
  top: 20px;
  align-items: center;
}

.placar h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.teams {
  height: 100%;
  max-height: 137px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
}

.teams h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.teams span {
  width: 50px;
  height: 30px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.score .date {
  bottom: 0;
}

.date {
  height: 53%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.date p,
.date h4 {
  display: flex;
  position: absolute;
  text-align: center;
}

.date h4 {
  bottom: 30%;
}
